<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

	<title>My portfolio</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>

       
      </li>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>
   </div>

   <!--Image and short intro-->
<div class="container- fluid p-5 bg-white text-blac text-center">
  <img src="../assets/img/lul.jpg" class="rounded-circle" height="200" width="200">
       <h4 style="color:black;">Shuvam Basnet</h4>
        <a href="https://www.facebook.com"/><img src="../assets/img/facebook.svg" height="30" width="30"></a>
     </div>

     <!--About Section-->
     <div class="container mt-3">
      <h2 id="about">About</h2>
      <font size="5" color="black">My name is Shuvam Basnet.I live in Kapan.I went to Reliance Public School.I am doing computer course in Kathalaya Institute which is situated in KL  tower.</font>
    </div>


         <!--About History section-->
  <div class="container mt-5">
    <h2>Academic History</h2>
    <div class="row">

      <div class="col-lg-4 d-flex align-item-stretch">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card header"><h5 class="card-text"> Basic Level Examination (BLE)</h5></div>
            <div class="card-body text-secondary">
              <p class="card-text">
                GPA:3.85
                Year:2076
                School: Reliance Public School
                Web:<a href="http://www.rps.edu.np/">Reliance Public School</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-item-stretch">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card header"><h5 class="card-text"> School Education Examination (SEE)</h5></div>
            <div class="card-body text-secondary">
              <p class="card-text">
                GPA:
                Year:2079
                School: Reliance Public School
                Web:<a href="http://www.rps.edu.np/">Reliance Public School</a>
                </p>
              </div>
            </div>
          </div>
           <div class="col-lg-4 d-flex align-item-stretch">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card header"><h5 class="card-text"> Computer course</h5></div>
            <div class="card-body text-secondary">
              <p class="card-text">
                GPA:<br>
                Year:2079<br>
                School:Kathalaya Institue<br>
                Web: <a href="https://www.facebook.com/pages/category/Education/Kathalaya-institute-of-training-and-consulting-108772507403243/">Kathalaya Institute</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Contact Form -->
      <div class="container mt-5">
        <h2 id="contact">Contact</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong></strong><br>
                       Kapan,Kathmandu<br>
                     <abbr title="Phone">Ph:</abbr>
                      9866497599
                  </address>
                  <address>
                      <strong>Shuvam Basnet</strong><br>
                      <a href="mailto:#">kathalayaaqua1@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>
        <!--footer-->
      <footer class="page-footer font-small dark">
       
        <!--copyright-->
        <div class="footer-copyright text-center py-3"> &copy; 2020 copyright:
          <a href="/">Shuvam Basnet</a>
           </div>
        <!--copyright-->
      </footer>

</body>
</html>